<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.agents.mapper.HouseMapper">

    <!-- 使用sql标签抽取重复出现的SQL片段 -->
    <sql id="mySelectSql">
        select id,user_id,community,subway,room_number,rent,orientation,keyOrPassword,remark,create_time,update_time,is_deleted AS deleted from house
    </sql>

    <select id="getDeletedHouse" resultType="com.house.agents.entity.House">
        <include refid="mySelectSql"/>
        where id = #{houseId}
    </select>
    <update id="rePublishDeletedHouse">
        update house set is_deleted = 0 where id = #{houseId}
    </update>

    <update id="rePublishDeletedHouses">
        <foreach collection="houseIds" item="houseId" separator=";">
            update house set is_deleted = 0 where id = #{houseId}
        </foreach>
    </update>
    
    <!-- <select id="getTotalCount" resultType="java.lang.Integer"> -->
    <!--     SELECT COUNT(*) FROM house WHERE is_deleted = 1 AND (user_id = #{userId}) -->
    <!-- </select> -->
    
    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM house
        <where>
            is_deleted= 1
            <if test="userId != 0">
                and user_id = #{userId}
            </if>
        </where>
    </select>
    
    <!-- <select id="getDeletedHousesWithPage" resultType="com.house.agents.entity.House">
        <include refid="mySelectSql"/>
        where is_deleted= 1 and user_id = #{userId} ORDER BY create_time DESC LIMIT #{limitNum},#{pageSize}
    </select> -->
    
    <!-- 使用动态sql来进行判断是否根据userId查询 -->
    <select id="getDeletedHousesWithPage" resultType="com.house.agents.entity.House">
        <include refid="mySelectSql"/>
        <where>
            is_deleted= 1
                <if test="userId != 0">
                    and user_id = #{userId}
                </if>
                <if test="userIds != null and userIds.size > 0">
                    and user_id in
                    <foreach collection="userIds" index="index" open="(" separator="," close=")" item="item">
                        #{item}
                    </foreach>
                </if>
        </where>
        ORDER BY create_time DESC LIMIT #{limitNum},#{pageSize}
    </select>
    
</mapper>
